{{ define "echo-path" }}
{{- . | replace "{" ":" | replace "}" "" }}
{{- end }}

{{ define "operation-wrapper-name" }}
{{- .OperationID | toGoPascalCase }}
{{- end }}

{{ define "operation-path-name" }}
{{- .OperationID | toGoPascalCase }}Path
{{- end }}

{{ define "operation-handler-name" }}
{{- .OperationID | toGoPascalCase }}Handler
{{- end }}

{{ define "operation-middleware-name" }}
{{- .OperationID | toGoPascalCase }}Validator
{{- end }}

{{ define "param-arg-name" }}
{{- .Value.Name | toGoCamelCase }}
{{- end }}

{{ define "operation-args" }}
{{- $args := list "c echo.Context" }}
{{- range .Parameters }}
{{- if eq .Value.In "path" }}
{{- $arg := cat (include "param-arg-name" .) "string" }}
{{- $args = append $args $arg }}
{{- end }}
{{- end }}

{{- with get .Extensions "x-goapi-query-object" }}
{{- $arg := cat "query" (cat "*" . | nospace) }}
{{- $args = append $args $arg }}
{{- end }}

{{- with get .Extensions "x-request-body-type" }}
{{- $arg := cat "body" (cat "*" . | nospace) }}
{{- $args = append $args $arg }}
{{- end }}

{{- $args | join ", " }}
{{- end }}

{{ define "operation-return" }}
{{- with get .Extensions "x-response-body-type" }}(*{{ . }}, error)
{{- else }}error
{{- end }}
{{- end }}

{{ define "ref-target-name" }}
{{- splitList "/" . | last }}
{{- end }}