{{ define "operation-validate-path-param" }}
{{- $field := .Value.Name }}
// Path Parameter: {{ .Value.Name }}
{{- $var := include "param-arg-name" . }}
{{ $var }} := c.Param({{ .Value.Name | quote}})
{{- with .Value.Schema.Value }}
{{- $rules := list "required" }}
{{- with .MinLength }}
{{- $rule := list "min=" . | join "" }}
{{- $rules = append $rules $rule }}
{{- end }}
{{- with .MaxLength }}
{{- $rule := list "max=" . | join "" }}
{{- $rules = append $rules $rule }}
{{- end }}
{{- with .Pattern }}
{{- warnf "Pattern validation not supported for path parameter %s" (list $field) }}
{{- end }}
if err := r.validate.Var({{ $var }}, {{ $rules | join "," | quote }}); err != nil {
  return err
}
{{- end }}

c.Set("param.{{ .Value.Name }}", {{ $var }})
{{- end }}


{{ define "operation-validate-request-body" }}
{{- $reqd := get .Extensions "x-request-body-required" }}
{{- with get .Extensions "x-request-body-type" }}
// Body: {{ . }}, Required: {{ $reqd }}
body := &{{ . }}{}
if err := (&echo.DefaultBinder{}).BindBody(c, &body); err != nil {
  return err
} else if err := r.validate.Struct(body); err != nil {
  return err
}

c.Set("body", body)
{{- end }}
{{- end }}


{{ define "operation-validate-request-query" }}
{{- with get .Extensions "x-goapi-query-object" }}
// Query: {{ . }}
query := &{{ . }}{}
if err := (&echo.DefaultBinder{}).BindQueryParams(c, &query); err != nil {
  return err
} else if err := r.validate.Struct(query); err != nil {
  return err
}

c.Set("query", query)
{{- end }}
{{- end }}
